version: '3'
services:

  dns:
    image: andyshinn/dnsmasq
    cap_add:
      - NET_ADMIN
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    command: -A /wwgberlin/127.0.0.1

  proxy:
    image: jwilder/nginx-proxy
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
    networks:
      - network

  baby_janus:
    image: baby_janus
    build:
      context: ./app
    command: cd /go/src/github.com/wwgberlin/baby_janus/app && go build
    entrypoint:
      - /go/src/github.com/wwgberlin/baby_janus/app/main
    volumes:
      - ./app:/go/src/github.com/wwgberlin/baby_janus/app
    networks:
      - network
    depends_on:
      - dns
      - proxy
    links:
      - dns
      - proxy
    environment:
      - VIRTUAL_HOST=main.wwgberlin

  server:
    image: some_server
    build:
      context: ./server
    command: go run /go/src/github.com/wwgberlin/baby_janus/server/main.go
    volumes:
      - ./server:/go/src/github.com/wwgberlin/baby_janus/server
    networks:
      - network
    depends_on:
      - dns
      - proxy
      - baby_janus
    links:
      - dns
      - proxy
      - baby_janus
    environment:
      - VIRTUAL_HOST=server.wwgberlin

networks:
  network: